main {
    width: 95vw;
    max-width: 1200px;
    margin: 0 auto;
}

.block {
    min-height: 50vh;
}
.bcg-black {
    background-color: #2c2e31;
}

.container {
    width: 90vw;
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    margin-top: -200px;
    text-align: center;
    padding: 24px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);;
}
.container::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    position: absolute;
    background-color:  hsl(210, 36%, 96%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    padding: 5px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin-bottom: 32px;
}
.title {
    font-size: 20px;
    margin-bottom: 0;
}
.value {
    font-size: 38px;
    color: hsl(209, 61%, 16%);
    margin-top: 0;
}
.value-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}
.icon {
    border: transparent;
    background-color: transparent;
    font-size: 32px;
    color: hsl(210, 22%, 49%);
    cursor: pointer;
    transition: all 0.3s linear;
}
.icon:hover {
    color: hsl(205, 78%, 60%);
}
.icon:active {
    color: hsl(205, 78%, 60%);
}
.btn {
    border: transparent;
    padding: 8px 12px;
    text-transform: uppercase;
    background-color: hsl(205, 78%, 60%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.9);
}

@media screen and (max-width: 800px){
    .value {
        font-size: 28px;
    }
    .icon {
        font-size: 24px;
    }

}
@media screen and (max-width: 400px) {
    .value-list{
        grid-template-columns: auto;
    }
}